<html>
<head>
    <title>Input Page</title>
    <link rel="stylesheet" href="/css/default.css">
    <script src="/webjars/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/functions.js"></script>
    <script>
        $( function () {
            $(".event").on("click", onEventClick);
        });
    </script>
</head>
<body>
    <div class="links" >
        <a href="/store" >Save Preferences</a>
        <a href="/" >Add Names and Events</a>
        <a href="/process" >Assign People</a>
    </div>
    <form id="selection-input" name="input" method="POST" enctype="multipart/form-data">
        <div>
            <label for="selection-name">Pupil</label>
            <select name="name" id="selection-name" >
                #foreach( $person in $people )
                <option value="$person.uniqueId">$person</option>
                #end
            </select>
        </div>
        <div id="selection-events" >
            #foreach( $event in $events )
            <div id="$event.uniqueId" class="event"><p>$event</p></div>
            #end
        </div>
        <div id="selection" >
            #foreach( $id in [1..$cutoff] )
            <div id="preference-$id"
            #if ($foreach.first)
                 class="preference next-target"
            #else
                 class="preference"
            #end
            ><p>Preference $id</p></div>
            #end
        </div>
        <input id="order" type="hidden" name="order">
        <input id="button" type="button" value="Submit" onclick="onSubmitClick()">
    </form>
</body>
</html>