<html>
<head>
    <title>Upload Page</title>
</head>
<body>
    <form name="upload" method="POST" enctype="multipart/form-data">
        <label for="names">Upload name list</label>
        <input id="names" type="file" name="names">
        <label for="names">Upload event list</label>
        <input id="events" type="file" name="events">
        <input name="submit" type="submit" value="Upload">
    </form>
    <a href="/input">Pick Preferences</a>
</body>
</html>